language: go

dist: noble

go:
  - "1.22"
  - "1.23"
  - "1.x"
  - "master"

matrix:
  allow_failures:
    - go: "master"
  fast_finish: true

addons:
  apt:
    packages:
      - libc6-dev

script: go test -v
